obj/Debug/net8.0/SOLIDPrinciples.AssemblyInfo.cs
obj/SOLIDPrinciples.csproj.nuget.g.props
obj/SOLIDPrinciples.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net8.0/SOLIDPrinciples.assets.cache
obj/Debug/net8.0/SOLIDPrinciples.AssemblyInfoInputs.cache
obj/Debug/net8.0/SOLIDPrinciples.AssemblyInfo.cs
obj/Debug/net8.0/SOLIDPrinciples.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/SOLIDPrinciples.assets.cache
obj/Debug/net8.0/SOLIDPrinciples.AssemblyInfoInputs.cache
obj/Debug/net8.0/SOLIDPrinciples.AssemblyInfo.cs
obj/SOLIDPrinciples.csproj.nuget.g.props
obj/SOLIDPrinciples.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net8.0/SOLIDPrinciples.AssemblyInfo.cs
obj/Debug/net8.0/SOLIDPrinciples.AssemblyInfo.cs
